<%= render "shared/error", obj: @reservation %>
 <div class="box">
  <div class="box-inner">
  <div class="box-name"> 
  
   <% @room.images.each do |image| %>  
   <%= image_tag image.image_url.url %> 
   <% end %>
  </div>
  <div class="box-name">
   部屋　:　<%= @room.name %>
  </div> 
  <div class="box-name">
   住所　:　<%= @room.address %>
  </div>
 </div>
</div>
<%= form_for @reservation, method: :post, url: confirm_rooms_path do |f| %>
 
 <div class="box">
  <div class="box-inner">
        <div class="box-name">
          <%= @room.price %>/day
        </div>  
        <div class="box-name">
           <span class="check">必須</span>
            <%= f.label :start_date ,"開始日" %><br/>
            <%= f.date_field :start_date %>
        </div>
        <div class="box-name">
           <span class="check">必須</span>
           <%= f.label :end_date ,"終了日" %><br/>
           <%= f.date_field :end_date  %>
        </div>
        <div class="box-name">
          <span class="check">必須</span>
           <%= f.label :people , "人数" %><br/>
           <%= f.number_field :people , step: "1"  %>
        </div>
          <%= f.hidden_field :room_id, value: @room.id %>
         
      </table>
  
      <div class="actions">
          <%= f.submit "予約内容確認！"%>
      </div>
      
<% end %>      